.section-four {
  background-color: #fff;
  /*padding: 60px 20px;*/
  padding: 1rem 3rem;
  text-align: center;
  margin-bottom: 4rem;
}

.section-four h3 {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 0;
  color: #333;
}

.section-four .logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.section-four .logos img {
  max-height: 100px;
  height: auto;
  width: auto;
  object-fit: contain;
}
