<nav class="navbar">
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
    <li><a routerLink="/about" routerLinkActive="active">À propos</a></li>
    <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
    <li><a routerLink="/prices" routerLinkActive="active">Tarifs</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    <li><a routerLink="/legal" routerLinkActive="active">Mentions légales</a></li>
  </ul>
</nav>
