<section class="section-one">
  <div class="column image-left"></div>

  <div class="column text-center">
    <h3>Quand la souffrance enferme, je vous accompagne à rouvrir les portes : celles de la liberté et du lien à vous-même.</h3>
    <p>
      En tant que sophrologue spécialisée dans la souffrance psychique, je vous accompagne sur votre chemin vers un mieux-être.

      Avec 10 ans d’expérience en tant qu’infirmière en psychiatrie et addictologie, j’ai développé une approche humaine et bienveillante pour répondre à vos besoin et à ceux de vos proches.

      Mon objectif est de vous offrir un espace où vous pouvez retrouver équilibre, sérénité et confiance en vous.

      Mon approche : Allier sophrologie et approche centrée sur la personne.

      Mon accompagnement repose sur :

      Une vision globale, nourrie par mon expérience en psychiatrie et addictologie, pour vous offrir un soutien complet.

      Une écoute active et bienveillante, pour comprendre vos besoins et adapter les séances à votre parcours.

      Chaque séance est un moment pour vous, où vous pouvez vous reconnecter à vos forces et avancer à votre rythme.</p>
  </div>

  <div class="column image-right"></div>
</section>
