.section-one {
  display: flex;
  width: 100%;
  height: 400px; /* ou ajustable */
}

.column {
  height: 100%;
}

.image-left,
.image-right {
  flex: 1;
  background-size: cover;
  background-position: center;
}

.image-left {
  background-image: url('../../../../../assets/images/Samantha-Marty-Sophrologue-Annecy.jpeg');
  height: auto;
  width: auto;
}

.image-right {
  background-image: url('../../../../../assets/images/seance-cabinet-sophro.jpeg');
}

.text-center h3 {
  /*margin-bottom: 1rem;
  font-size: 1.8rem;*/
  color: #FF6161;
  font-family: 'Georgia', serif;
  font-size: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.text-center {
  flex: 2;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center;*/
  background-color: #fff;
  text-align: center;
  line-height: 1.3;
}
