<section class="section-three">
  <div class="content">
    <div class="image-col"></div>

    <div class="text-col">
      <h3>Pourquoi choisir la sophrologie ?</h3>
      <p>Si vous cherchez une approche douce et personnalisée pour retrouver un équilibre durable, la sophrologie peut être une réponse adaptée. Elle peut vous permettre de retrouver une harmonie entre votre corps et votre esprit grâce à une meilleure connaissance de vous même et de votre potentiel.</p>
    </div>
  </div>
</section>
